<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.demo.mapper.RoleMapper">

    <resultMap id="role_map" type="com.lee.demo.bean.Role">
        <id property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleDesc" column="role_desc"/>
        <collection property="user" ofType="com.lee.demo.bean.User">
            <id property="id" column="user_id"/>
            <result property="username" column="username"/>
            <result property="address" column="address"/>
            <result property="sex" column="sex"/>
            <result property="birthday" column="birthday"/>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="role_map">
        SELECT r.*,u.id as user_id, u.user_name username,u.address,u.sex,u.birthday FROM role r
          LEFT JOIN user_role ur ON r.id=ur.r_id
          LEFT JOIN `user` u ON ur.u_id=u.id
    </select>

</mapper>